<%- include('../home') %>
<body>
    <div class="profile-details">
        <div class="profile-details-container">
            <div>
                <img src ="<%= member.headshot %>" alt="<%= member.name %>">
            </div>
            <div>
                <h1><%= member.name %></h1>
                <p><%= member.belt %></p>
                <p><%= member.gender %></p>
                <p><%= member.DOB %></p>
                <p><%= member.weight %></p>
                <div class="profile-icons">
                    <% if (member.instagram && member.instagram !== "") { %>
                    <a href="<%= member.instagram %>" target="_blank"><i class="fi fi-brands-instagram"></i></a>
                    <% } %>
                    <% if (member.facebook && member.facebook !== "") { %>
                    <a href="<%= member.facebook %>" target="_blank"><i class="fi fi-brands-facebook"></i></a>
                    <% } %>
                </div>
                <form action="/members/<%=member._id%>?_method=DELETE" method="POST">
                    <button type="submit">
                    Delete <%= member.name %>
                    </button>
                </form>
                <!-- Link to take us to the new edit page at /division/update/:id -->
                <button onclick="window.location.href='/members/update/<%=member._id%>'">Update</button>
            </div>
        </div>
    </div>
</body>
<%- include('../footer') %>