<%- include('../home') %>
<section class="single-profile">
    <div class="profile-details">
        <div class="profile-details-container">
            <div>
                <% if (!member.headshot) { %>
                    <!-- Placeholder image logic -->
                    <img 
                      src="<%= member.gender === 'Male' ? 'https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716036/male_headshot_dwklnh.jpg' : 'https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716035/female_headshot_ntxmak.jpg' %>" 
                      alt="<%= member.name %>"
                    >
                  <% } else if (member.headshot.includes('image')) { %>
                    <!-- "/images" prefix logic -->
                    <img 
                      src="<%= member.headshot %>"
                      alt="<%= member.name %>" 
                    >
                  <% } else { %>
                    <!-- Base64 image logic -->
                    <img 
                      src="data:image/jpeg;base64,<%= member.headshot %>" 
                      alt="<%= member.name %>" 
                    >
                  <% } %>                  
            </div>
            <div>
                <h2><%= member.name %></h2>
                <p><strong>Belt: </strong><%= member.belt %></p>
                <p><strong>Gender: </strong><%= member.gender %></p>
                <p><strong>DOB: </strong><%= member.DOB %></p>
                <p><strong>Weight: </strong><%= member.weight %></p>
                <div class="profile-icons">
                    <% if (member.instagram && member.instagram !== "") { %>
                    <a href="<%= member.instagram %>" target="_blank"><i class="fi fi-brands-instagram"></i></a>
                    <% } %>
                    <% if (member.facebook && member.facebook !== "") { %>
                    <a href="<%= member.facebook %>" target="_blank"><i class="fi fi-brands-facebook"></i></a>
                    <% } %>
                </div>
                <!-- Update and Delete Buttons -->
                <% if (errorMessages && errorMessages.length > 0) { %>
                    <div class="alert alert-danger">
                        <% errorMessages.forEach(function (msg) { %>
                            <p><%= msg %></p>
                        <% }) %>
                    </div>
                <% } %>
                <div class="profile-actions">
                    <button class="btn btn-danger" onclick="window.location.href='/members/update/<%=member._id%>'">Update</button>
                    <form action="/members/<%=member._id%>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../footer') %>